// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input_format {
   font-size: 20px;
   width:250px;
   height: 25px;}

 .desc_format {
   font-size: 20px;
   width:350px;
   height: 75px;
  text-align: top-left}

 .post {
  float: left;
  margin-right: 30px;}